<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= current_page.data.title || "Middleman" %></title>

    <%= stylesheet_link_tag "site" %>
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Courgette" rel="stylesheet">

    <%= javascript_include_tag "site" %>
    <script src="https://use.fontawesome.com/488eaeeb3f.js"></script>
  </head>
  <body>
    <div class="content">
      <ul class="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/episodes/">Episodes</a></li>
        <li><a href="/subscribe/">Subscribe</a></li>
        <li><a href="/about/">About</a></li>
      </ul>

      <%= yield %>
    </div>

  </body>
</html>
