---
title: About
---

<p>Who Reads Poetry is created with care, cookies and a cat in Brooklyn, New York.</p>

<h2>Neha Kumari - Creator &amp; Host</h2>

<p>Blah blah blah. Yadda yadda yadda.</p>

<h2>Brian Kelly - Audio Engineer</h2>

<p>Blah blah blah. Yadda yadda yadda.</p>
