---
title: About
---

<h1><%= current_page.data.title %></h1>


<p>Who Reads Poetry is created with care, cookies and a cat in Brooklyn, New York.</p>

<h2>Neha Kumari - Creator &amp; Host</h2>

<p>Neha is a Software Enginner and an optimist who thinks she will one day read the stack of New Yorker magazines at her bedside. She once furiously wrote poetry because she was in love. Now she listens to other people read poetry and asks them very important questions like how do they survive winter and if they are "a very stable genius". She thinks in conversation and will eagerly talk to you about the poem you love.
</p>

<ul>
  <li><a href="https://twitter.com/__Neha">Neha on Twitter</a></li>
</ul>

<h2>Brian Kelly - Audio Engineer</h2>

<p>Brian is a software engineer, musician and songwriter. He's been recording things since he first got a Tascam 4-Track as a teenager. Brian does the audio engineering, production and intro music for the podcast.</p>

<p>The only poetry he is (unfortunately) familiar with is Vogon poetry.</p>

<ul>
  <li><a href="http://spilth.org">Brian's Web Site</a></li>
  <li><a href="http://spilth.bandcamp.com">Brian's Music</a></li>
  <li><a href="https://twitter.com/spilth">Brian on Twitter</a></li>
</ul>

<h2>Krushidhar Lekkala - Artwork</h2>

<p>Krushidhar yielded to Neha's frantic efforts to get an artwork for this podcast and made us the excellent logo in about 36 hours. Pretty impressive! He is the Lead Product Designer at Capillary Technologies and is based out of Bangalore, India. </p>

<ul>
  <li><a href="https://twitter.com/krushireddy">Krushidhar on Twitter</a></li>
</ul>
