---
title: About
---

<h1><%= current_page.data.title %></h1>


<p>Who Reads Poetry is created with care, cookies and a cat in Brooklyn, New York.</p>

<h2>Neha Kumari - Creator &amp; Host</h2>

<p>Blah blah blah. Yadda yadda yadda.</p>

<ul>
  <li><a href="https://twitter.com/__Neha">Neha on Twitter</a></li>
</ul>

<h2>Brian Kelly - Audio Engineer</h2>

<p>Brian is a software engineer, musician and songwriter. He's been recording things since he first got a Tascam 4-Track as a teenager. Brian does the audio engineering, production and intro music for the podcast.</p>

<p>The only poetry he is (unfortunately) familiar with is Vogon poetry.</p>

<ul>
  <li><a href="http://spilth.org">Brian's Web Site</a></li>
  <li><a href="http://spilth.bandcamp.com">Brian's Music</a></li>
  <li><a href="https://twitter.com/spilth">Brian on Twitter</a></li>
</ul>

<h2>Krushidhar Lekkala - Artwork</h2>

<p>Blah blah blah. Yadda yadda yadda.</p>

<ul>
  <li><a href="https://twitter.com/krushireddy">Krushidhar on Twitter</a></li>
</ul>
