---
title: Who Reads Poetry?
---

<p class="text-center"><a href="https://itunes.apple.com/us/podcast/who-reads-poetry/id1291115585?mt=2" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/assets/shared/badges/en-us/podcast-lrg.svg) no-repeat;width:133px;height:34px;background-size:contain;"></a></p>

<p class="text-center"><a href='https://play.google.com/music/listen#/ps/Istakqgkufak36w3c27asr7wxs4'><img alt='Listen on Google Play Music' src='https://play.google.com/intl/en_us/badges-music/images/badges/en_badge_web_music.png' width="133" /></a></p>

<p>Who Reads Poetry is an attempt to understand poems through the reader.</p>

<p>The reader is the person who attaches meaning to the poem with their voice and the time they have spent carrying the poem with them. In every episode we sit down with a person and their treasured piece of poetry and whip up a conversation around it. You may have noticed that sometimes it is easier to see beauty through some one else's eyes (in this case voice). Given the wealth of literature and poetry out there, discovering what you may love is a hard problem. Machines can shift through pages but they can't find meaning. Meaning is something all of us create for ourselves and each other. We are the best curators of this beautiful universe for each other. Here we go about trying to do just that!</p>

