---
title: Subscribe
---

<h1><%= current_page.data.title %></h1>

<p class="text-center"><a href="https://itunes.apple.com/us/podcast/who-reads-poetry/id1291115585?mt=2">
  <img src="/images/applepodcasts.png" width="128" height="128"><br>
  Apple Podcasts
</a></p>

<p class="text-center"><a href="https://twitter.com/whoreadspoetry">
  <img src="/images/googleplay.png" width="128" height="128"><br>
  Google Play
</a></p>
