---
title: Subscribe
---

<h1><%= current_page.data.title %></h1>

<p>You can find Who Reads Poetry? on the following apps:</p>

<div class="subscriptions">
  <div class="subscription">
    <p class="text-center"><a href="https://itunes.apple.com/us/podcast/who-reads-poetry/id1291115585?mt=2">
      <img src="/images/applepodcasts.png" width="128" height="128"><br>
      Apple Podcasts
    </a></p>
  </div>
  <div class="subscription">
    <p class="text-center"><a href="https://twitter.com/whoreadspoetry">
      <img src="/images/googleplay.png" width="128" height="128"><br>
      Google Play
    </a></p>
  </div>
</div>
